Django==1.8.3
Naked==0.1.30
azure==1.0.0
azure-common==1.0.0
azure-mgmt==0.20.0
azure-mgmt-common==0.20.0
azure-mgmt-compute==0.20.0
azure-mgmt-network==0.20.0
azure-mgmt-nspkg==1.0.0
azure-mgmt-resource==0.20.0
azure-mgmt-storage==0.20.0
azure-nspkg==1.0.0
azure-servicebus==0.20.0
azure-servicemanagement-legacy==0.20.0
azure-storage==0.20.0
cffi==0.8.6
crypto==1.0.3
cryptography==0.6.1
ecdsa==0.11
oauthlib==1.0.0
paramiko==1.15.1
pycparser==2.10
python-dateutil==2.2
requests==2.4.3
six==1.8.0
virtualenv==13.1.0
